<div class="modal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{activeTask.title}}
                </h4>
                <button 
                    type="button" 
                    class="btn-close" 
                    aria-label="Close" 
                    (click)="closeTask()">
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Статус:
                    <span 
                        [ngClass]="{
                            'badge': true,
                            'text-bg-danger': activeTask.isClose,
                            'text-bg-success': !activeTask.isClose
                        }"
                    >{{activeTask.isClose ? 'Закрыта' : 'Открыта'}}</span>
                </p>
                <div class="alert alert-secondary">
                    Выполнить до: {{activeTask.expiration | date: 'dd.MM.yyyy'}}
                </div>
                <p>
                    {{activeTask.descripton}}
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="closeTask()">Закрыть</button>
            </div>
        </div>
    </div>
</div>