<div class="modal" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Редактирование задачи {{activeTask.id}}</h4>
                <button 
                    type="button" 
                    class="btn-close" 
                    aria-label="Close" 
                    (click)="closeForm()"
                >
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check mb-3">
                    <input 
                        class="form-check-input"
                        id="{{activeTask.id}}"
                        type="checkbox"
                        [(ngModel)]="activeTask.isClose"
                    > 
                    <label
                        class="form-check-label"
                        for="{{activeTask.id}}">
                        {{activeTask.isClose ? 'Закрыта' : "Открыта"}}
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Задача</label>
                    <input 
                        class="form-control" 
                        [(ngModel)]="activeTask.title" 
                        type="text"
                    >
                </div>
                <div class="mb-3">
                    <label class="form-label">Описание</label>
                    <textarea 
                        rows="5"
                        class="form-control" 
                        [(ngModel)]="activeTask.descripton"
                    ></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Дата выполнения</label>
                    <input 
                        class="form-control" 
                        type="date"
                        [(ngModel)]="activeTask.expiration"
                    >
                </div>
            </div>
            <div class="modal-footer">
                <button 
                    class="btn btn-primary" 
                    (click)="closeForm()"
                >Закрыть</button>
            </div>
        </div>
    </div>
</div>